@inherits LayoutComponentBase
@inject IStringLocalizer<BlazorAppPCInfo.About> Localizer


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <LoadingIndicator IsLoading="@IsLoading" />

    <main>
        <div class="top-row px-4">
            <article class="bottom-row px-4">
                <CultureSelector />
            </article>

            <a href="/about" class="btn-link">@Localizer["aboutUs"]</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code{
    private bool IsLoading = false;

    protected override void OnInitialized()
    {
        APIService.OnLoadingChanged += UpdateLoadingState;
    }

    private void UpdateLoadingState(bool isLoading)
    {
        IsLoading = isLoading;
        InvokeAsync(StateHasChanged); // Asegura la actualización en la UI
    }

    public void Dispose()
    {
        APIService.OnLoadingChanged -= UpdateLoadingState;
    }
}