@using UtilInfoPC.Models;
@inject HttpClient Http

<EditForm Model="@newRAM" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="BrandName" class="form-label">Nombre de la Marca</label>
        <InputText id="BrandName" class="form-control" @bind-Value="newRAM.Name" />
    </div>

    <button type="submit" class="btn btn-primary">Agregar Marca</button>
</EditForm>

@code {
    private RAM newRAM = new RAM();

    [Parameter]
    public EventCallback OnRAMAdded { get; set; }

    private async Task HandleValidSubmit()
    {
        var response = await Http.PostAsJsonAsync("https://localhost:5000/api/rams", newRAM);

        if (response.IsSuccessStatusCode)
        {
            await OnRAMAdded.InvokeAsync();
        }
        else
        {
            Console.WriteLine("Error al añadir la marca.");
        }
    }
}
